
<p><center>@Ads.Resources.Texts.ProfileChngPsswd<br /></center></p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <center> @Ads.Resources.Texts.PsswdOld <input type="password" name="oldPassword" /></center><br /><br />
        <center> @Ads.Resources.Texts.PsswdNew <input type="password" name="newPassword" /></center><br /><br />
        <center><input type="submit" value=@Ads.Resources.Texts.Submit class="btn btn-default" /></center>
    </div>

}
