
<p><center>@Ads.Resources.Texts.RemindPsswdMsg<br /></center></p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <center><input type="text" placeholder=@Ads.Resources.Texts.WriteEmailHint name="emailToSend" /> <input type="submit" value="Wyślij" class="btn btn-default" /></center>
    </div>

}
